@import url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    font-family: Inter, sans-serif;
    color: #231f20;
}

* {
    box-sizing: border-box;
}

button {
    background-color: #231f20;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
}

button:hover {
    background-color: #555253;
}

a {
    color: #231f20;
    text-decoration: none;
}

h1, p {
    text-align: center;
}


/* Header */
.header-container {
    display: flex;
    flex: 1;
    flex-grow: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #E7E4E5;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;  
    padding-left: 150px;
}

.logo img {
    display: flex;
    flex: 1;
    width: 200px;
    height: auto;
}

.header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 150px;
    gap: 40px;
}


/* Content */
.heroHeader {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    padding: 50px;
    background-color: #f0f0f0;
    text-align: center;
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease-in-out;
    color: white;
    overflow: hidden; 
}

.heroHeader::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); 
    backdrop-filter: blur(2px); 
    z-index: 1;
}

.heroHeader * {
    position: relative;
    z-index: 2;
}

.heroHeader p {
    width: 70%;
}

.achievement-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    padding: 50px;
}

.achievement {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    max-width: 200px;
}

.achievement-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

.achievement img {
    width: 20px;
    height: auto;
}

/* Moto cards */
.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px 200px;
    background-color: #E7E4E5;
}

.moto-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    padding-bottom: 50px;
}

.moto-card {
    width: 25%;
    border: 1px solid #231f20;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #DBD6D8;
    min-width: 150px;
    padding: 10px;
}

.moto-card:hover {
    transform: scale(1.05);
    transition: transform 0.5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.moto-card img {
    width: 100%;
    height: auto;
}

.moto-card h2 {
    margin: 10px 0;
}

.moto-card p {
    font-size: 1.2em;
    color: #231f20;
}

/* Testimonials section */
.testimonials-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 20px;
    background-color: #DBD6D8;
}

.testimonials-container h1 {
    margin: 0;
    margin-top: 10px;
}

.testimonials-wrapper {
    overflow: hidden;
    width: 100%;
}

.testimonials {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.testimonial {
    min-width: 33.33%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #E7E4E5;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

button.prev:hover, button.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Footer */
.footer-container {
    width: 100%;
    height: 60px;
    background-color: #231f20;
    color: #E7E4E5;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    /* Header */
    .header-container {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        padding: 10px 0;
    }

    .header-button {
        padding: 10px 0;
    }

    /* Content */
    .content {
        padding: 50px 20px;
    }

    .testimonial {
        min-width: 50%;
    }
}

@media (max-width: 480px) {
    .testimonial {
        min-width: 100%;
    }
}