
select {
    height: 35px;
    font-size: 15px;
    border-radius: 5px;
    text-align: center;
    background: #231f20;
    color: #E7E4E5;
    cursor: pointer;
    padding: 5px;
}

/* Content */
.content-container {
    background-color: #f0f0f0;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 50px;
    padding-top: 20px;
    gap: 50px;
}

.content-header {
    padding-left: 90px;
}

.filters-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 40px;
}

.filters-section div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.submit-button {
    display: flex;
    padding: 50px 0;
}

.moto-content-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
}

.moto-container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
}

/* Moto cards */
.moto-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    padding-bottom: 20px;
}

.moto-card {
    width: 25%;
    border: 1px solid #231f20;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #DBD6D8;
    min-width: 150px;
    padding: 10px;
}

.moto-card:hover {
    transform: scale(1.05);
    transition: transform 0.5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.moto-card img {
    width: 100%;
    height: auto;
}

.moto-card h2 {
    margin: 10px 0;
}

.moto-card p {
    font-size: 1.2em;
    color: #231f20;
}


/* Styles for the price input container */
.price-input-container {
    width: 100%;
}

.price-input .price-field {
    display: flex;
    margin-bottom: 5px;
}

.price-field input {
    flex: 1;
    height: 35px;
    font-size: 15px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #231f20;
    background: #E7E4E5;
}

.price-input {
    width: 100%;
    font-size: 15px;
}

/* Remove Arrows/Spinners */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.slider-container {
    width: 100%;
}

.slider-container {
    height: 6px;
    position: relative;
    background: #E7E4E5;
    border-radius: 5px;
}

.slider-container .price-slider {
    height: 100%;
    left: 25%;
    right: 15%;
    position: absolute;
    border-radius: 5px;
    background: #231f20;
}

.range-input {
    position: relative;
}

.range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    background: none;
    top: -5px;
    pointer-events: none;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
}

/* Styles for the range thumb in WebKit browsers */
input[type="range"]::-webkit-slider-thumb {
    height: 18px;
    width: 18px;
    border-radius: 70%;
    background: #231f20;
    pointer-events: auto;
    -webkit-appearance: none;
}


@media (max-width: 768px) {
    /* Content */
    .content {
        padding: 50px 10px;
        padding-top: 0;
    }

    .content {
        flex-direction: column;
    }

    .moto-container-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        padding-top: 0;
    }

    .moto-container {
        gap: 15px;
    }

    .content-header {
        padding-left: 0;
    }

    .content-header h1 {
        text-align: center;
    }

    .filters-section {
        padding: 20px;
    }

    .submit-button {
        padding: 20px 0;
        padding-bottom: 0;
    }

}