@import url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    font-family: Inter, sans-serif;
    color: #231f20;
    background-color: #E7E4E5;
}

* {
    box-sizing: border-box;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;  
    padding: 20px;  
}

.logo img {
    display: flex;
    width: 300px;
    height: auto;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.login form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #DBD6D8;
    border-radius: 5px;
    box-shadow: 0 0 5px #231f20;
}

.login form h1 {
    margin: 0;
    margin-bottom: 20px;
}

.login form div {
    width: 100%;
}

.login form input {
    display: flex;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #231f20;
    width: 100%;
    background-color: #E7E4E5;
}

.login form button {
    background-color: #231f20;
    color: #E7E4E5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    width: 100%;
    
}

.login form button:hover {
    background-color: #555253;
}

.success {
    color: green;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
}

.error {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #721c24;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
}

.input-group {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
}

.validation-message {
    text-align: center;
    max-width: 200px;
    color: #721c24;
    font-size: 0.8em;
    margin-top: 10px;
    display: none;
}

input:invalid {
    border-color: #721c24;
}

input:valid {
    border-color: #28a745;
}

.footer {
    width: 100%;
    height: 60px;
    background-color: #231f20;
    color: #E7E4E5;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}